<h2>自分の投稿</h2>

<div class="posts-wrapper">
<div class="posts-content">
<% @posts.each do |p| %>
<div class="post-content">
<div class="post-content_element"><%=p.created_at.strftime('%Y年%m月%d日')%></div>
<div class="post-content_element"><%= p.title %></div>
<div class="post-content_element"><%= p.content%></div>
<div class="post-content_btn">
<div class="post-edit_btn"> 
<%=link_to "編集", edit_post_path(p) %>
</div>
<div class="post-delete_btn">
<%=link_to "削除", post_path(p), method: "delete" %>
</div>
</div>
</div>
<% end %>
</div>
</div>