
<div class="my-post_link">
<%=link_to "自分の投稿一覧へ", posts_path%>

</div>
<h2>新規投稿</h2>

<div class="post-form">
<%= form_for(@post, url: posts_path) do |p| %>
<div class="post-form_element">
<div><%= p.label :title %></div>
<div><%=p.text_field :title%></div>
</div>
<div class="post-form_element">
<div><%= p.label :content %></div>
<div><%=p.text_area :content%></div>
</div>
<div class="post-form_element">
<%=p.submit%></div>
<% end %>
</div>